.*{
	margin: 0px;
	padding: 0px;
}


#header{
	height: 159px;
	width: 999px;
	margin: 0 auto;
}

.logo{
	margin-left: 21px;
	margin-top: 38px;
	float: left;
}

.him{
	margin-top: 38px;
	margin-left: 490px;
}

#header .sav {
	height:59px;
	width: 960px;
	list-style: none;
	background: #303030;
	margin-top: 30px;
}

#header .sav li{
	color: #ffffff;
	border-right:1px solid #494949;
	float: left;
	width: 115px;
	height: 59px;
	text-align: center;
	line-height: 59px;
}

#header .sav .him-l{
	border: none;
}

#banner{
	height: 465px;
	width: 999px;
	margin: 0 auto;
}

#container{
	height: 600px;
	width: 999px;
	margin: 0 auto;
}

.top{
	height: 270px;
	width: 999px;
}

.c-t-left{
	height:275px;
	width:490px;
	float: left;
}

.c-t-left h3{
    margin-top:35px;
    margin-left: 22px;
    color: #1b1b1b;
}

.c-t-left .b{
	margin-top: 29px;
	font-size: 18px;
	line-height: 30px;
	font-size: 14px;
	color: #4f4f4f;
	float: left;
}

.c-t-left .mm{
	margin-top: 52px;
	margin-left:370px;
}

.c-t-left .mm li{
	margin-top: 11px;
	font-size: 15px;
	color: #4f4f4f;
	list-style: none;
}
.c-t-center{
	height: 275px;
	width: 258px;
	float: left;
	background: #f1f1f1;

}

#ct-p{
	margin-top: 65px;
}

.c-t-center .q{
	font-size: 14px;
	color: #4f4f4f;
	margin-top: 20px;
}

.c-t-center h3{

	margin-top: 37px;
	margin-left: 24px;
	color: #1b1b1b;
}


#ct-pp{
	margin-top: 45px;
}
.c-t-center p{
	margin-top: 37px;
	margin-left: 25px;
}

.c-t-right{
	height: 275px;
	width: 245px;
	float: left;
}

.c-t-right h3{
	margin-top: 37px;
	margin-left: 25px;
	color: #1b1b1b;
}

.c-t-right p{
	margin-top: 10px;
	margin-left: 25px;
	color: #1b1b1b;
}
.c-t-right img{
	width: 245px;
	height: 135px;
}

#cim{
	height: 110px;
}
.c-bottom {
	height: 305px;
	width: 999px;
}

.c-bottom h3{
	margin-top: 29px;
	margin-left:22px;
	color: #1f1f1f;
}

.c-im{
	width: 233px;
	height: 136px;
}

.c-bottom .w{
	font-size: 13px;
	color: #555555;
	width: 230px;
}

.c-b-a{
	height: 250px;
	width: 240px;
	float:left;
}
.c-b-a img{
	margin-top: 17px;
	margin-left: 20px;
}
.c-b-a p{
	margin-top: 10px;
	margin-left: 20px;
}
.c-b-b{
	height: 250px;
	width: 240px;
	float:left;
}
.c-b-b img{
	margin-top: 17px;
	margin-left: 20px;
}

.c-b-b p{
	margin-top: 10px;
	margin-left: 20px;
}
.c-b-c{
	height: 250px;
	width: 240px;
	float: left;
}

.c-b-c img{
	margin-top: 17px;
	margin-left: 20px;
}

.c-b-c p{
	margin-top: 10px;
	margin-left: 20px;
}

.c-b-d{
	height: 250px;
	width: 240px;
	float: left;
}
.c-b-d img{
	margin-top: 17px;
	margin-left: 20px;
}
.c-b-d p{
	margin-top: 10px;
	margin-left: 20px;
}


#footer{
	height: 330px;
	width: 999px;
	background: #e5e5e5;
	margin: 0 auto;
}
.f-left{
	height: 300px;
	width: 498px;
	float: left;

}

.f-left h3{
	margin-top: 30px;
	margin-left: 31px;
	color: #616161;
}

.xiahuaxian{
	border-bottom: 2px solid #c1c1c1;
	width: 450px;
}

.f-left ul{
	float: left;
	margin-top: 22px;
	width:100px;
	line-height: 28px;
	font-size: 12px;
	margin-left: 10px;
}

.f-center{
	height: 300px;
	width: 245px;
	float: left;
}

.f-center h3{
	margin-top: 30px;
	margin-left: 31px;
	color: #616161;
}

.f-center ul{
	margin-left: 22px;
	width: 135px;
	line-height: 28px;
	font-size: 12px;
	margin-top: 30px;
	float: left;
}

#footer  li{
	list-style: none;
	color: #4f4f4f
}

.xia{
	border-bottom: 2px solid #c1c1c1;
	width: 230px;
}

.f-center .f-pp{
	margin-top: 21px;
}

.f-right{
	height: 300px;
	width: 255px;
	float: left;
}

.f-right h3{
	margin-top: 30px;
	margin-left: 31px;
	color: #616161;
}

.hua{
	border-bottom: 2px solid #c1c1c1;
	width: 230px;
}

.f-right img{
	width: 255px;
}

#f-last{
	height: 81px;
	width: 1000px;
	margin: 0 auto;
}

.f-s{
	margin-left: 23px;
	margin-top: 23px;
}
.f-s li{
	list-style: none;
	float: left;
	color: #666666;
	font-size: 13px;
	width: 60px;
	border-right: 1px solid #666666	;
	margin-left: 5px;
}

.f-s .fs-o{
	width: 85px;
	border: none;
	text-align: center;
}

.f-img{
	margin-left: 20px;
}
